@media only screen and (min-width: 1920px) and (max-width: 2560px){
  html {overflow-x: hidden;}
  body {
  width: 100%;
  display: flex;flex-direction: column;
  background-color: white;
  margin: 0 auto;
  }
  /* Логотип */
  .container00{
    width: 1920px;
    position:relative;
    margin-top: 70px;
    justify-content: center;
    display: flex;
    }
  .logo{
    width: 1077px;
    height: 204px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    animation: logomove 4s steps(1) infinite;
    display: flex;
  }
  @keyframes logomove {
    0% {background-position: 0px top;}
    25% {background-position: -1077px top;}
    50% {background-position: -2154px top;}
    75% {background-position: -3231px top;}
    100% {background-position: -4308px top;}
  }
/* Бегущие строчки */
  .block01{
    width: 1920px;
    /* display:flex; */
    height: 700px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 40px;
  }
  .row01{
    width: 4080px;
    height: 160px;
    background-image: url(../images/row01.svg);
    position: absolute;
    top: 0px;
    background-repeat: no-repeat;
    animation: row01move 5s linear infinite;
  }
  @keyframes row01move {
    0% {left:  0px;}
    100% {left: -2160px;}
  }
  .row02 {
    width: 4029px;
    height: 160px;
    background-image: url(../images/row02.svg);
    position: absolute;
    top: 180px;
    background-repeat: no-repeat;
    animation: row02move 5s linear infinite;
  }
  @keyframes row02move {
    0% {right: 0px}
    100% {right: -2109px}
  }
  .row03 {
    width: 3961px;
    height: 160px;
    background-image: url(../images/row03.svg);
    position: absolute;
    top: 360px;
    background-repeat: no-repeat;
    animation: row03move 5s linear infinite;
  }
  @keyframes row03move {
    0% {left: 0px}
    100% {left: -2041px}
  }
  .row04 {
    width: 3872px;
    height: 160px;
    position: absolute;
    top: 540px;
    background-image: url(../images/row04.svg);
    background-repeat: no-repeat;
    animation: row04move 5s linear infinite;
  }
  @keyframes row04move {
    0% {right: 0px}
    100% {right: -1952px}
  }
/* Линия00 */
  .line00 {
    width: 1920px;
    height: 220px;
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
    background-image: url(../images/line00.svg);
    background-repeat: no-repeat;
  }
  .line00:hover {
    background-image: url(../images/line00_hover.svg);
    transition: .2s all;
  }
/* Ховер_строка */
  .container01 {
    width: 1920px;
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
    overflow: hidden;
  }
  .block02{
    width:3535px;
    display: flex;
    justify-content: space-around;
    animation: b2move 3s linear infinite;
  }
  .block02:hover{
    animation-play-state: paused;
  }
  .item00 {
    width: 675px;
    height: 675px;
    background-image: url(../images/item00.svg);
    background-repeat: no-repeat;
  }
  .item00:hover{
    animation: itm00change 1s steps(1) infinite;
  }
  .item01 {
    width: 675px;
    height: 675px;
    background-image: url(../images/item01.svg);
    background-repeat: no-repeat;
  }
  .item01:hover{
    animation: itm01change 1s steps(1) infinite;
  }
  @keyframes b2move {
    0% {margin-left: 0;}
    100% {margin-left: -1410px;}
  }
  @keyframes itm00change {
    0% {background-image: url(../images/item00_01.svg);}
    50% {background-image: url(../images/item00_02.svg);}
    100% {background-image: url(../images/item00_03.svg);}
  }
  @keyframes itm01change {
    0% {background-image: url(../images/item01_01.svg);}
    50% {background-image: url(../images/item01_02.svg);}
    100% {background-image: url(../images/item01_03.svg);}
  }
  /* Линия02 */
  .line01{
    width: 1920px;
    height: 220px;
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
    background-image: url(../images/line01.svg);
    background-repeat: no-repeat;
  }
  .line01:hover{
    background-image: url(../images/line01_hover.svg);
    transition: .2s all;
  }
  /* Ховер_иконки */
  .block03{
    width: 1490px;
    display: flex;
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .icon00 {
    width: 160px;
    height: 160px;
    background-image: url(../images/icon_sad.svg);
    background-repeat: no-repeat;
    margin: 15px;
  }
  .icon00:hover{
    background-image: url(../images/icon_smile.svg);
    transition: .2s all;
  }
  .icon01 {
    width: 160px;
    height: 160px;
    background-image: url(../images/icon_wind.svg);
    background-repeat: no-repeat;
    margin: 15px;
  }
  .icon01:hover{
    background-image: url(../images/icon_ship.svg);
    transition: .2s all;
  }
  .icon02 {
    width: 160px;
    height: 160px;
    background-image: url(../images/icon_mute.svg);
    background-repeat: no-repeat;
    margin: 15px;
  }
  .icon02:hover{
    background-image: url(../images/icon_music.svg);
    transition: .2s all;
  }
  .icon03 {
    width: 160px;
    height: 160px;
    background-image: url(../images/icon_tear.svg);
    background-repeat: no-repeat;
    margin: 15px;
  }
  .icon03:hover{
    background-image: url(../images/icon_umbrella.svg);
    transition: .2s all;
  }
  .icon04 {
    width: 160px;
    height: 160px;
    background-image: url(../images/icon_eye.svg);
    background-repeat: no-repeat;
    margin: 15px;
  }
  .icon04:hover{
    background-image: url(../images/icon_heart.svg);
    transition: .2s all;
  }
  .icon05 {
    width: 160px;
    height: 160px;
    background-image: url(../images/icon_storm.svg);
    background-repeat: no-repeat;
    margin: 15px;
  }
  .icon05:hover{
    background-image: url(../images/icon_sun.svg);
    transition: .2s all;
  }
}
